body{
    margin: 0;
    background-color: lightblue;
    background-attachment: fixed;
    font-family: arial, Helvetica; }

nav{
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center; }

nav a, footer a{
  color: white;
  padding: 14px 16px;
  text-decoration: none; }

nav a:hover, footer a:hover{ background-color: #111111; }
.card-nav:has(a:hover) a:not(:hover) { filter: blur(2px); }

footer{
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: #333333;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%; }

p{ font-family: Orbitron;}

.container{
      position: relative;
      text-align: center;
      color: white; }

.text{
    font-weight: bold;
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}


.text:hover{ color: yellow; }

button{
    border-radius: 6px;
    border: 2px solid #555555;
    transition-duration: 0.4s;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 5px;}

button:hover{ background-color: #555555; color: white; }
.startTimer{ background-color: green;}
.pauseTimer{ background-color: orange;}
.stopTimer{ background-color: red;}
